.aboutInner
  display: flex
  flex-direction: column

.lastItem
  font-family: "Montserrat"
  font-weight: bold
  font-size: 18px
  display: flex
  align-items: center
  color: #fff
  margin: 0 auto
  background-color: #ffc800
  width: 156px
  height: 156px
  border: 7px solid #e9ecef
  border-radius: 50%
  margin-top: 100px 

@media screen and ( max-width: 1200px )
  .lastItem
    width: 136px
    height: 136px

@media screen and ( max-width: 990px )
  .lastItem
    font-size: 14px
    width: 86px
    height: 86px

@media screen and ( max-width: 770px )
  .lastItem
    font-size: 11px
    width: 66px
    height: 66px
    margin: 100px 0 0
  