.formWrapper
  width: 100%
  margin: 0 auto

.allFieldsWrapper
  justify-content: center
  display: flex
  align-items: stretch

.fieldWrapper
  width: 45%
  margin-right: 20px
  margin: 0 auto

.error
  color: red
  font-size: 18px
  text-align: left
  margin-left: 14px

.textareaWrapper
  display: inline-block
  margin: 14px 15px
  width: 45%

.submitBtn
  margin: 40px auto 0
  padding: 20px
  text-transform: uppercase
  font-family: "Roboto Slab"
  color: #fff
  border: none
  border-radius: 4px
  background-color: #ffc800
  opacity: .65

@media screen and ( max-width: 770px )
  .allFieldsWrapper
    flex-direction: column
    
  .fieldWrapper
    width: 100%
  .textareaWrapper
    margin: 0 auto
    width: 100%
  