.aboutItem
  display: flex
  width: 50%
  justify-content: center
  margin: 0 auto
  line-height: 1.75
  &::after
    position: absolute
    display: block
    content: ""
    z-index: -1
    left: 50%
    width: 2px
    margin-left: -1px
    background-color: #E9ECEF
    height: 70%
  &:not(:last-child)
    padding-bottom: 100px
  &:nth-child(odd)>.content
    order: -1
    text-align: right
  &:nth-child(odd)
    margin-left: 85px
  &:nth-child(even)>.content
    order: 1
    text-align: left
  &:nth-child(even)
    margin-right: 85px


.image 
  max-width: 170px
  max-height: 170px
  height: auto
  border: 7px solid #e9ecef
  border-radius: 50%
 

.date,.title
  font-family: "Montserrat"
  font-size: 24px
  font-weight: bold
.description
  font-family: "Roboto Slab"
  color: #6c757d
.content
  padding: 20px